@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaryColor: #606483;
  --secondaryColor: #CDF87F;
  --infoColor: #121213;
}
html {
  background: white;
}
@theme inline {
  --color-background: white;
  --color-foreground: var(--foreground);
}
@layer utilities {
  .container {
    @apply max-w-[1440px] px-4 py-10 mx-auto ;
  }
  .secondaryColor {
    @apply text-[#CDF87F];
  }
  .secondaryColorBg {
    @apply bg-[#CDF87F];
  }
  .primaryColor {
    @apply text-[#606483];
  }
  .hover {
    @apply hover:text-[#CDF87F] transition-all  duration-500;
  }
  .primaryBg {
    @apply bg-[#606483];
  }
  .infoColor {
    @apply text-[#121213];
  }

  .hero-heading {
    @apply text-[28px] lg:text-[45px] 2xl:text-[56px] font-semibold text-[#121213];
  }
  .sub-heading {
    @apply text-2xl lg:text-[32px] 2xl:text-[44px] font-semibold text-[#121213];
  }
  .sub-heading-para {
    @apply text-[22px] md:text-[28px] font-bold;
  }
  .para-text {
    @apply text-[16px] md:text-[16px] font-normal text-[#606483];
  }
  .nav-link {
    @apply text-[16px] font-medium text-[#606483] capitalize;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ffffff m !important;
  color: black;
}

