@import "tailwindcss";

:root {
  --background: #ffffff;
  --primaryColor: #606483;
  --secondaryColor: #cdf87f;
  --infoColor: #121213;
}
html {
  background: white;
}
@layer utilities {
  .container {
    @apply max-w-[1296px] px-4 py-10 mx-auto;
  }
  .secondaryColor {
    @apply text-[#CDF87F];
  }
  .secondaryColorBg {
    @apply bg-[#CDF87F];
  }
  .primaryColor {
    @apply text-[#606483];
  }
  .hover {
    @apply hover:text-[#CDF87F] transition-all  duration-500;
  }
  .primaryBg {
    @apply bg-[#606483];
  }
  .infoColor {
    @apply text-[#121213];
  }

  .hero-heading {
    @apply text-[28px] lg:text-[45px] 2xl:text-[56px] font-semibold text-[#121213];
  }
  .sub-heading {
    @apply text-2xl lg:text-[32px] 2xl:text-[44px] font-semibold text-[#121213];
  }
  .sub-heading-para {
    @apply text-[22px] md:text-[28px] font-bold;
  }
  .para-text {
    @apply text-[16px] md:text-[16px] font-normal text-[#606483];
  }
  .nav-link {
    @apply text-[16px] font-medium text-[#606483] capitalize;
  }
}

body {
  background: #ffffff !important;
  color: black;
}

/* used for hero bg gradient */
.bgWrap {
  z-index: -1;
  --c: 70px;
  mask: radial-gradient(60% var(--c) at top, #0000 calc(100% - 1px), #000);
  padding-top: 10px;
  background: linear-gradient(
    100deg,
    rgba(205, 248, 127, 0.1) 0%,
    rgba(205, 248, 127, 0) 100%
  );
}

/* used for hero bg content */

.bgText {
  text-align: center;
  width: full;
  height: full;
}
/* card drop shadow */
.card_dropShadow {
  box-shadow: 0px 0px 0px 1px #ededed;
  box-shadow: 0px 1px 1px 1px #1b3e2d0f;
}

/* bg used footer and download now section */
.bg-2 {
  background: linear-gradient(180deg, rgba(205, 248, 127, 0.05) 0%, rgba(205, 248, 127, 0) 100%);
}

