@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaryColor: #3f1c12;
  --secondaryColor: #b98b5c;
  --infoColor: #2d140d;
}
html {
  background: white;
}
@theme inline {
  --color-background: white;
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito-sans);
}
@layer utilities {
  .container {
    @apply max-w-[1440px] px-4 py-10 mx-auto ;
  }
  .primaryColor {
    @apply text-[#B98B5C];
  }
  .primaryBg {
    @apply bg-[#B98B5C];
  }
  .secondaryColor {
    @apply text-[#d63a76];
  }
  .hover {
    @apply hover:text-[#b98b5c] transition-all  duration-500;
  }
  .secondaryBg {
    @apply bg-[#d63a76];
  }
  .infoColor {
    @apply text-[#0aeae2];
  }
  .extraColor {
    @apply text-[#eba594];
  }
  .extraBg {
    @apply bg-[#eba594];
  }

  .hero-heading {
    @apply text-[22px] lg:text-[48px] 2xl:text-[62px] font-bold uppercase text-[#3F1C12];
  }
  .sub-heading {
    @apply text-2xl lg:text-[32px] 2xl:text-[38px] font-bold text-[#3F1C12];
  }
  .sub-heading-para {
    @apply text-[22px] md:text-[28px] font-bold;
  }
  .para-text {
    @apply text-[16px] md:text-[16px] font-normal text-[#2d140d];
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ffffff m !important;
  color: black;
  font-family: "Nunito", sans-serif;
}

